<div class="container">
  <%= render @queues.by_level_and_latest.reverse %>
      <% if current_user.present? %>
    <%= render "pages/friendstatus" %>

    <% end %>
</div>
<%= render 'shared/btm-navbar' %>
