
<div class="container">
  <h1>Playwall Report</h1>

  <%= simple_form_for [ @playwall, @report ] do |f| %>
    <%= f.input :content %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
