<% comments.each do |comment| %>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <b><%= comment.user.username %></b> <%= comment.content %>
    <br><%= time_ago_in_words(comment.created_at).gsub('about ','') %> ago
  </li>
</ul>
<% end %>
