

<div>
  <p>New Post</p>
  <p>location: <%= playwall_post.golf_range.name %> </p>
  <p>posted by: <%= playwall_post.user.email %> </p>
  <p>posted at: <%= playwall_post.created_at %> </p>
  <%= playwall_post.caption %>
</div>
