<div class="container">
  <h1>QueueWalls#index</h1>
  <% @queues.each do |q|  %>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <div class="d-flex">
        <h2><%= q.golf_range.name %></h2>
        <div class="queues">
        </div>
      </div>
    </div>
  <% end %>
</div>
