.navbar-lewagon {
  justify-content: space-between;
  background: #05386b;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon h2 {
  color: yellow;

  .golf-logo {
    color: #edf5e1;
  }
}
