.navbar-lewagon {
  justify-content: space-between;
  background: #05386b;
  min-height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 400ms;
}


p.tag-line {
  font-size: 1rem;
  position: fixed;
  top: 0;
  opacity:0;
  left: 50%;
  color: white;
  transition: 300ms ease-out;
  transform: translate(-50%, -50%);
}

h2.logo-text{
  font-size: 2rem;
  transition: 400ms ease-out;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon h2 {
  color: yellow;

  .golf-logo {
    color: #edf5e1;
  }
}

.nav-display-none {
  display: none;
}

.nav-icon {
  font-size: 10rem;
  position: fixed;
  top: 0;
  opacity:0;
  left: 50%;
  color: white;
  transition: 300ms ease-out;
  transform: translate(-50%, -50%);
}

// ANIMATION STEP 1
.navbar-lewagon.navbar-animate-one{
  h2.logo-text{
    font-size: 4.5rem;
  }

}

/* ANIMATION  STEP 2*/
.navbar-lewagon.navbar-animate-two {
  min-height: 100vh;

  .nav-icon {
    top: 30%;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  p.tag-line {
    top: 60%;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  .navbar-toggler, .nav-link  {
    display: none;
  }
}
